.addcontact{
    background: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: 'muli', regular;
    // width: 1600px;
    // height: 850px;
}

.addcontact-button{
    background: url('images/Add.svg') rgba(49, 169, 80, 1) no-repeat 20%;
    background-size: 15px 15px;
    font-family: 'Muli, SemiBold';
    font-size: 24px;
    font-weight: bolder;
    padding: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    width: 175px;
    height: 50px;
}

.addcontact-button:hover{
    background-color: rgba(49, 169, 80, 1);
}

.headbar{
    background: rgba(248, 248, 248, 1);
    padding: 20px 0;
    height: 70px;
    font-size: 42px;
    color: rgba(0, 0, 0, 1);
    font-family: "Muli", SemiBold;
    font-weight: bolder;
}

.empty-text{
    text-align: center;
    color: rgb(180, 148, 148);
    font-family: Muli Regular;
    opacity: 0.52;
    width: 420px; 
    height: 50px;
    font-size: 13px;
    line-height: 20px;
}