// .addcontact-header{
//     font-size: 42px !important;
//     background-color: rgba(248, 248, 248, 1);
//     color: black !important;
//     height: 60px;
//     line-height: 55px;
// }

.x-panel-header-default{
    font-size: 42px;
    background: rgba(248, 248, 248, 1);
    color: black;
    height: 60px;
    line-height: 55px;
}

.addcontact{
    background: white;
}

.addcontact-button{
    background-color: rgba(49, 169, 80, 1);
    font-family: 'Muli, SemiBold';
    font-size: 15px;
    padding: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
}

.addcontact-button:hover{
    background-color: rgba(49, 169, 80, 1);
}

// .empty-text{
//     text-align: center;
//     color: rgb(180, 148, 148);
//     font-family: 'Muli', sans-serif;
//     opacity: 0.53;
// }