.edit-photo-button{
    background:white;
    color:red;
}

.x-form-file-btn {
    background-color: white !important;
    background-image: none !important;
    border: none;
    text-decoration: underline;

}

.x-btn-inner-default-small {
    color: black !important;
}