.edit-photo-button{
    background:white;
    color:red;
}

.x-form-file-btn {
    background-color: transparent !important;
    background-image: none !important;
    color: black !important;
    z-index: 100;
    opacity: 0.9;
    border: none;
    text-decoration: underline;

}