.filter-button, .export-button, .delete-button, .addcolumns-button{
    // background-color: rgba(0, 0, 0, 1);
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding: 0 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    width: auto;
    height: 40px;
}

.delete-button .x-btn-inner-default-toolbar-small, .export-button .x-btn-inner-default-toolbar-small, .filter-button .x-btn-inner-default-toolbar-small, .addcolumns-button .x-btn-inner-default-toolbar-small{
    color: rgba(0, 0, 0, 1);
}
.addcolumns-button:hover, .export-button:hover {
    background-color : rgba(0, 0, 0, 1);
}

.addcolumns-button:hover .x-btn-inner-default-toolbar-small, .export-button:hover .x-btn-inner-default-toolbar-small{
    color: white;
}

.filter-button{
    background: rgba(255, 165, 0, 1) url('images/filter.svg') no-repeat 20%;
    background-size: 15px 15px;
}

.filter-button:hover{
    background: rgba(255, 165, 0, 1) url('images/filter.svg') no-repeat 20%;
    background-size: 15px 15px;
}

.delete-button{
    background-color: rgba(145, 145, 145, 1);
}

.headbar .searchfield{
    background-color: transparent;
    border: solid 1px nrgba(220, 220, 220, 1);
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.searchfield .x-form-trigger{
    vertical-align: middle !important;
}


