.x-grid-row:hover .edit-icon {
    display:inline-block;
    height:16px;
    width:16px;
}

.x-grid-row:hover .edit-icon:before {
    content: "\f040";
    color: #e67e22;
}


// .column-height{
//     height: 50px !important
// }
